<div class="program_show">
  <p class="program_name"><%= @program.name %></p>

  <div class="instructor_names">
    <% @program.instructors.each do |instructor| %>
      <p class="instructor_name"><%= link_to instructor.name, program_instructor_path(@program, instructor)%><%= link_to " (edit)", edit_program_instructor_path(@program, instructor) %></p>
    <% end %>
  </div>


  <h2><%= link_to "Return to #{@metro.name} Immersives", metro_path(@metro) %></h2>

  <h3> <%= link_to "Want to add a new instructor?(+)", new_program_instructor_path(@program) %></h3>

</div>
