<h2><%= @instructor.name %></h2>

<div class ="image_container">
  <img src="<%= @instructor.img_url %>" alt="Instructor Photo" class="instructor">
</div>
<h3>Observations <%= link_to "(+)", new_instructor_observation_path(@instructor) %></h3>

<% @instructor.observations.each do |observation| %>
  <p><%= observation.body %>  <%= link_to "(edit)", edit_instructor_observation_path(@instructor, observation) %></p>
  <p><%= link_to 'Remove Observation', instructor_observation_path(@instructor, observation),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete?' } %></p>
<% end %>

<p><%= link_to "Return to #{@program.name}", metro_program_path(@metro,@program) %></p>
